{% extends 'base.html' %}
{% block title %}CHOOSE{% endblock %}
{% block content %}
<h1>Opposite color generator</h1><hr>
<h3>please choose the color to generate the opposite color</h3>

<form>
    <input type="color" name="color" value="#FFFFFF">
    <input type="submit" value="generate">
</form>
<hr>
<label>main color : {{color}}</label>
<div style="background-color:{{color}};"><br><br><br></div>
<lable>opposite color : {{opcolor}}</lable>
<div style="background-color:{{opcolor}};"><br><br><br></div>
{% endblock%}
