{% extends 'base.html' %}
{% block title %}HEX{% endblock %}
{% block content %}
<h1>Opposite color generator</h1><hr>
<h3>please write the color hex code to generate the opposite color</h3>

<form>
    <input type="text" name="color" placeholder="#FFFFFF">
    <input type="submit" value="generate">
</form>
<hr>

<div style="background-color:{{color}};">
    <br><br>
    <h2 style = "color:{{opcolor}};text-align:center;">main color : {{color}}</h2>
    <br><br></div>

<div style="background-color:{{opcolor}};">
    <br><br>
    <h2 style = "color : {{color}};text-align:center;">opposite color : {{opcolor}}</h2>
    <br><br></div>
{% endblock%}
